# Byte-compiled / optimized / DLL files
__pycache__/
*.so

.gitignore

# Virtual environments
venv/
.env/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
*.swp
*.swo
.idea/

# Logs
*.log
CODES/logs/
CODES/configs/
CODES/plot_data

# Heavy directories
DATA/
RUNS/
JIMI_RUNS/

#junk
junk/
